<%= error_messages_for 'catagory' %>

<!--[form:catagory]-->
<p><label for="catagory_name">Name</label><br/>
<%= text_field 'catagory', 'name'  %></p>

<p><label for="catagory_description">Description</label><br/>
<%= text_area 'catagory', 'description'  %></p>
<!--[eoform:catagory]-->

