<% for column in Catagory.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @catagory.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @catagory %> |
<%= link_to 'Back', :action => 'list' %>
