<%= '<div style="display:none; width:700px; margin:auto; margin-top:20px;">
<a href="/' + filenamealize(@picture[0].title) + '">
<img src="/previews/' + filenamealize(@picture[0].title) + '_preview.jpg" />
</a>
</div>' %>