<h1>Want Prints: <span style="font-size:smaller; font-weight:500;">photography&#64;nathanielguy.com</span></h1>

<p style="margin-top:25px; margin-left:25px;">
If you are intersted in getting prints of my pictures then I am certainly delighted.  Most of the pictures seen here are around 2000 by 1400 pixels, which can be blown up to 8 by 10 without any image degradation.  The exact size of each picture can be found on it's view page.  Email me with your contact information and which picture you are interested in at photography&#64;nathanielguy.com!
</p>

<p style="margin-top:25px;">
Please do not reproduce my photos without permission.  I am by no means a large company so if you honestly feel you must then do so, but please leave credit where it is due.  All contents of this site are &copy; 2006 NathanielGuy Mahieu.
</p>