<h1>NathanielGuy Studio</h1>
<p>
<ul>
<li><a href="http://feeds.feedburner.com/NathanielGuyStudio">Feedburner <img src="images/feed_o.png" alt="NathanielGuy Studios Feedburner" /></a></li>
<li><a href="sitemap.xml">Google Sitemap: <img src="images/xml.png" alt="NathanielGuy Studios Google Sitemap" /></a></li>
</ul>
</p>
